#footer {
    width: 100%;
}

.container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container a {
    color: #ea1538;
    text-decoration: none;
    font-weight: bolder;
}

.container a:hover {
    color: #bc0f2c;
    text-decoration: underline;
}