.post {
    background-color: #1e1e1e;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 15px;
    margin-top: 20px;
    width: 60%
}

#post-author {
    display: flex;
    align-items: center;
}

#post-author img {
    padding-right: 10px;
}